@{
	ViewBag.Title = "About us";
}

<style>
    .panel {
        background: rgba(0, 0, 0, 0);
      
    }
    </style>
<div class="panel">

	<div class="panel-heading">
		<h1>Наша история</h1>
        <br/>
		<div class="panel-body">
			<div class="col-md-4">
				<img src="~/Images/about1.jpg" width="250" height="200">
			</div>

			<div class="col-md-4">
				<br />
				<br />
				<br />
				<img src="~/Images/about2.jpg" width="250" height="200">
			</div>

			<div class="col-md-4">

				<img src="~/Images/about3.jpg" width="250" height="200">
				<br />
				<br />
			</div>
		</div>
		<div class="panel-footer">
			ООО «Строй-Проект» было организовано в 2010 году группой профессиональных проектировщиков в городе Березники Пермского края. В том же году получено свидетельство о допуске к работам по подготовке проектной документации.
			<br />
			Опыт в области промышленного и гражданского проектирования предопределил направление деятельности организации.
			<br />
			В 2010-2011 гг. заключены контракты на проектирование с крупными компаниями:
			<br />
			ОАО «Метафракс», ОАО «Минеральные удобрения», ЗАО «Тандер», ООО «Камский кабель».
			<br />
			В 2012 году организован офис компании в городе Пермь.
			<br />
			В 2013-2014 гг. внедрена компьютерная система управлением бизнесом.
			<br />
			В 2015 году проведена сертификация соответствия требованиям ГОСТ ISO 9001-2011 (ISO 9001:2008), получено свидетельство о допуске к работам в области инженерных изысканий.
			<br />
			В 2015 году Министерство строительства и ЖКХ Пермского края наградил ООО «Строй-Проект» Почетной грамотой за активное участие в развитии комплексного проектирования объектов гражданского и промышленного строительства.
			<br />
			В 2016 году организован офис в г.Москва, выполнены первые объекты в г.Москва.
			<br />
			За весь период своей работы ООО «Строй-Проект» успешно спроектировано более 70 объектов различного назначения в разных городах России.

		</div>
	</div>
</div>
