@{
	ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
	Адрес: Украина, г. Харьков, пер. Электроинструментальный, 6А<br />
	Телефон: +38 (067) 851-5118<br />
	E-mail:adelinarotan11@gmail.ru<br />
	Директор филиала: Ротань Аделина Андреевна
</address>

<address>
	<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@mail.com</a><br />
	
</address>

<a name="map">
	</a>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.3950224670552!2d36.29281631571666!3d50.04143097942098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a71b30939195%3A0xcd724aedf94c668c!2z0K3Qu9C10LrRgtGA0L7QuNC90YHRgtGA0YPQvNC10L3RgtCw0LvRjNC90YvQuSDQv9C10YAuLCA2LCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1584440724610!5m2!1sru!2sua" height="600" style="border-style: none; border-color: inherit; border-width: 0; width: 1170px;" aria-hidden="false" tabindex="0"></iframe>

