
@{
    ViewBag.Title = "FormulationTask";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Задание</h3>
<p>
	Спроектировать базу данных, предназначенного для хранения информации о поставщиках комплектующих деталей и
	покупателях, произведённых из этих деталей товаров. Каждый поставщик может продавать различные детали,
	и одна и та же деталь может быть поставлена различными поставщиками. Детали поставляются по договору,
	заключенному с поставщиком. Срок поставки деталей указан в каждом договоре и всегда соблюдается.
	Цена на любую деталь фиксирована. По одному договору могут поставляться несколько разных деталей.
	С покупателями заключается договор на продажу произведенных (собранных) из получаемых деталей товаров.
	По одному договору могут продаваться несколько видов товаров. Дата отгрузки готовых изделий получателю
	указана в договоре, и штрафы насчитываются от этой даты. Детали, нужные для производства, считаются списанными
	со склада в тот день, когда заключен договор на изготовление товаров. Цена на товар фиксирована и не изменяется
	в разных договорах на поставку товара. При невыполнении указанных в договоре сроков поставки к
	предприятию- производителю товара применяется штрафные санкции (штраф за каждый просроченный день
	поставки товара равен 5% от общей суммы договора).

</p>
<h3>Запросы:</h3>
<p>1.	Определить, сколько и каких деталей нужно для того, чтобы собрать все изделия для заданного договора на поставку товаров (сколько и каких изделий включает этот договор известно);</p>
<p>2.	 Определить, каких деталей не хватает на складе для того, чтобы немедленно приступить к сборке изделий для заданного договора на поставку товаров;  </p>
<p>3.	Какую прибыль мы получим, реализовав заданный договор на поставку, если прибыль равна разности суммарной стоимости договора на поставку изделий и суммарной стоимости деталей, входящих в изделия, включенные в этот договор;</p>
<p>4.	Найти, какие поставщики не поставляли заводу никаких деталей в заданную дату; </p>
<p>5.	Найти Суммарную прибыль от всех договоров на поставку, заключенных с заданным покупателем. </p>
<h3>Транзакции:</h3>
<p>•	Формирование договора на приобретение деталей; </p>
<p>•	Формирование договора на отпуск готовых изделий;</p>
<h3>ER-модель БД:</h3>
<img src="~/Images/1.png" width="1000" height="500">
