@{
    ViewBag.Title = "Func1";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>

    @using (Ajax.BeginForm("Func1Partial", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <div class="panel">
            <div class="panel-heading">
                <h3>Найти суммарную прибыль от заданного покупателя</h3>
            </div>
            <div class="panel-body">
                <label>ID покупателя:</label>
                <input type="number" name="ID" placeholder="Id of Customer"/>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Найти" class="btn btn-primary" />
            </div>
        </div>
    }
  
        <table id="results" class="table table-sm table-dark"></table>
    
    
    </div>

