@{
	ViewBag.Title = "Заказ обработан";
}

<h1>Спасибо!</h1>
<img src="~/Images/time.png" width="250" height="200">
<h2>Спасибо за выбор нашего магазина. Заказ в кратчайшие сроки будет отправлен в службу доставки.</h2>